spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/employee_db
    username: hari
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true