name: PR Validation - Gradle Build

on:
  pull_request:
    branches:
      - main

jobs:
  gradle-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - run: chmod +x gradlew
      - run: ./gradlew clean test build
